@model Orders

<div class="page-content">

	<div class="flex-1 text-right">
		<a asp-controller="Trade" asp-action="OrdersPDF" class="mr">Download as PDF</a>
	</div>

	<div class="flex orders-list">

		<div id="buy-orders-list">
			<div class="box">
				<h1>Buy Orders</h1>

				@foreach (BuyOrderResponse buyOrder in Model.BuyOrders)
				{
					<div class="border-bottom p">
						<h3>@buyOrder.StockName (@buyOrder.StockSymbol)</h3>
						<h5 class="mb">@buyOrder.Quantity <span class="text-grey">shares at </span> $@buyOrder.Price.ToString()</h5>
						<h5 class="mb"><span class="text-grey">Trade Amount: </span> $@buyOrder.TradeAmount.ToString()</h5>

						<div class="text-grey">@buyOrder.DateAndTimeOfOrder.ToString()</div>
					</div>
				}
			</div>
		</div>

		<div id="sell-orders-list">
			<div class="box">
				<h1>Sell Orders</h1>

				@foreach (SellOrderResponse sellOrder in Model.SellOrders)
				{
					<div class="border-bottom p">
						<h3>@sellOrder.StockName (@sellOrder.StockSymbol)</h3>
						<h5 class="mb">@sellOrder.Quantity <span class="text-grey">shares at </span> $@sellOrder.Price.ToString()</h5>
						<h5 class="mb"><span class="text-grey">Trade Amount: </span> $@sellOrder.TradeAmount.ToString()</h5>

						<div class="text-grey">@sellOrder.DateAndTimeOfOrder.ToString()</div>
					</div>
				}
			</div>
		</div>

	</div>
</div>