@model StockTrade

<div class="page-content">

	<form method="post">
		

		<div class="box trading-panel">

			<div class="flex trading-panel-flex">

				<div class="container border-right">
					<h2 class="text-blue">@Model.StockName <span>(@Model.StockSymbol)</span></h2>
					<h1><span class="text-grey">$</span> <span class="price">@Model.Price.ToString()</span></h1>
				</div>	

				<div class="flex flex-direction-vertical">
					<h4 class="text-grey">New Order</h4>
					<label asp-for="Quantity" class="mt">Quantity:</label>
					<input asp-for="Quantity" name="Quantity" type="number" min="1" max="100000" value="@Model.Quantity" required="required">

					<div class="button-panel">
						<button type="submit" formaction="~/Trade/SellOrder" class="button-red-back trading-button sell-button">Sell</button>
						<button type="submit" formaction="~/Trade/BuyOrder" class="button-green-back trading-button buy-button">Buy</button>
					</div>

				</div>

			</div>

		</div>

		<input type="hidden" asp-for="StockName" />
		<input type="hidden" asp-for="Price" id="price"/>
		<input type="hidden" asp-for="StockSymbol" />
		<input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />
	</form>



	@section Scripts {

		@* import the FinnhubScript.js file to update the price *@
		<script src="~/Scripts/StockPrice.js">
		</script>
	}



</div>